# Ä°leri Veri Ä°ÅŸleme ModÃ¼l Projesi

### Milli Teknoloji Hamlesi kapsamÄ±nda dÃ¼zenlenen Yapay Zeka UzmanlÄ±k ProgramÄ± dahilinde gerÃ§ekleÅŸtirilen uygulama Ã¶devidir.

**HazÄ±rlayan : Eda Nur ARSLAN**

### Ä°Ã§erik:
ðŸ”¹ **Assessment 1:**  
Ceketlerin 2023 Haziran-AÄŸustos dÃ¶nemindeki satÄ±ÅŸlarÄ± bÃ¶lgelere gÃ¶re analiz edilerek, her bÃ¶lgedeki toplam satÄ±ÅŸ miktarÄ± ve cirosu hesaplanmÄ±ÅŸtÄ±r.

ðŸ”¹ **Assessment 2:**  
Her perakendecinin, mÃ¼ÅŸteri bÃ¶lgesine gÃ¶re yaptÄ±ÄŸÄ± ceket satÄ±ÅŸlarÄ± analiz edilerek, en yÃ¼ksek ciro elde ettiÄŸi bÃ¶lge belirlenmiÅŸtir.

## KullanÄ±lan Veri TablolarÄ±

| Tablo AdÄ±      | AÃ§Ä±klama |
|----------------|----------|
| `FactSale`     | GerÃ§ekleÅŸen tÃ¼m satÄ±ÅŸ iÅŸlemlerini iÃ§erir  |
| `DimProduct`   | ÃœrÃ¼n bilgilerini iÃ§erir  |
| `DimCustomer`  | MÃ¼ÅŸteri bilgileri (bulunduÄŸu ÅŸehir dahil) |
| `DimRetailer`  | Perakendeci bilgileri |
| `DimRegion`    | Åžehirleri bÃ¶lgelere baÄŸlar |
| `FactPurchase`    | ÃœrÃ¼n satÄ±n alma iÅŸlemler |
| `DimSupplier`    | TedarikÃ§i bilgileri |
| `DimDate`    | Tarih boyut tablosu (gÃ¼n/ay/yÄ±l) |

## 1) Gerekli kÃ¼tÃ¼phaneleri import etme

In [1]:
from pyspark.sql import SparkSession, functions as F

## 2) Parquet Veri Setlerinin OkunmasÄ± ve Spark SQL GÃ¶rÃ¼nÃ¼mlerinin OluÅŸturulmasÄ±

---

In [2]:
spark = SparkSession.builder.appName("PySparkExample").getOrCreate()

df_pur = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/purchase")
df_sal = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/sale")
df_cus = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/customer")
df_ret = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/retailer")
df_pro = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/product")
df_sup = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/supplier")
df_reg = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/region")
df_date = spark.read.parquet("/content/drive/MyDrive/yz-ileri veri isÌ§leme/data/date")

df_cus.createOrReplaceTempView("DimCustomer")
df_pur.createOrReplaceTempView("FactPurchase")
df_sal.createOrReplaceTempView("FactSale")
df_ret.createOrReplaceTempView("DimRetailer")
df_pro.createOrReplaceTempView("DimProduct")
df_sup.createOrReplaceTempView("DimSupplier")
df_reg.createOrReplaceTempView("DimRegion")
df_date.createOrReplaceTempView("DimDate")

## 3) Ã–rnek SQL SorgularÄ±

In [3]:
spark.sql("SELECT customer_id, name, surname, birth_date FROM DimCustomer LIMIT 5").show()

+-----------+-------+--------+----------+
|customer_id|   name| surname|birth_date|
+-----------+-------+--------+----------+
|          1| Jazmin|  Burril|1958-09-22|
|          2| Dalila|   Faers|2000-11-08|
|          3|Wayland|Walework|1976-03-08|
|          4|Amberly|  Haquin|1948-10-08|
|          5|Garrett|   Frear|1957-09-25|
+-----------+-------+--------+----------+

*   AmaÃ§, mÃ¼ÅŸteri verilerini Ã¶rneklemek ve yapÄ±sÄ±nÄ± hÄ±zlÄ±ca incelemektir.

---

In [4]:
df_cus.select("customer_id", "name", "surname", "birth_date").show(5)

+-----------+-------+--------+----------+
|customer_id|   name| surname|birth_date|
+-----------+-------+--------+----------+
|          1| Jazmin|  Burril|1958-09-22|
|          2| Dalila|   Faers|2000-11-08|
|          3|Wayland|Walework|1976-03-08|
|          4|Amberly|  Haquin|1948-10-08|
|          5|Garrett|   Frear|1957-09-25|
+-----------+-------+--------+----------+
only showing top 5 rows

*   AmaÃ§, veri Ã§erÃ§evesindeki mÃ¼ÅŸteri bilgilerini hÄ±zlÄ±ca gÃ¶zlemlemektir.

---

In [5]:
spark.sql("""
SELECT
    customer_id
    ,name
    ,surname
    ,YEAR(CURRENT_DATE()) - YEAR(birth_date) AS age
FROM DimCustomer
LIMIT 5
""").show()

+-----------+-------+--------+---+
|customer_id|   name| surname|age|
+-----------+-------+--------+---+
|          1| Jazmin|  Burril| 67|
|          2| Dalila|   Faers| 25|
|          3|Wayland|Walework| 49|
|          4|Amberly|  Haquin| 77|
|          5|Garrett|   Frear| 68|
+-----------+-------+--------+---+

*   AmaÃ§, mÃ¼ÅŸteri yaÅŸ bilgilerini dinamik olarak hesaplayÄ±p Ã¶rneklemektir.

---

In [6]:
(
    df_cus.withColumn("age", F.year(F.current_date()) - F.year("birth_date"))
    .select("customer_id", "name", "surname", "age")
    .show(5)
)

+-----------+-------+--------+---+
|customer_id|   name| surname|age|
+-----------+-------+--------+---+
|          1| Jazmin|  Burril| 67|
|          2| Dalila|   Faers| 25|
|          3|Wayland|Walework| 49|
|          4|Amberly|  Haquin| 77|
|          5|Garrett|   Frear| 68|
+-----------+-------+--------+---+
only showing top 5 rows

*    "df_cus" DataFrameâ€™ine mÃ¼ÅŸterilerin yaÅŸÄ±nÄ± (age) hesaplayan yeni bir sÃ¼tun ekler. AmaÃ§, mÃ¼ÅŸteri veri Ã§erÃ§evesi Ã¼zerinden dinamik yaÅŸ hesaplamasÄ± yaparak Ã¶rnek verileri incelemektir.

---

In [7]:
spark.sql("""
SELECT
    name
    ,surname
    ,age
FROM
(
    SELECT
        customer_id
        ,name
        ,surname
        ,YEAR(CURRENT_DATE()) - YEAR(birth_date) AS age
    FROM DimCustomer
)
WHERE age >= 30
LIMIT 5
""").show()

+-------+--------+---+
|   name| surname|age|
+-------+--------+---+
| Jazmin|  Burril| 67|
|Wayland|Walework| 49|
|Amberly|  Haquin| 77|
|Garrett|   Frear| 68|
|  Horst|   Isted| 50|
+-------+--------+---+



*   AmaÃ§, yaÅŸ filtresi kullanarak belirli yaÅŸ grubundaki mÃ¼ÅŸterileri listelemektir.

---

In [8]:
(
    df_cus.withColumn("age", F.year(F.current_date()) - F.year("birth_date"))
    .select("name", "surname", "age")
    .filter(F.col("age") >= 30)
    .show(5)
)

+-------+--------+---+
|   name| surname|age|
+-------+--------+---+
| Jazmin|  Burril| 67|
|Wayland|Walework| 49|
|Amberly|  Haquin| 77|
|Garrett|   Frear| 68|
|  Horst|   Isted| 50|
+-------+--------+---+
only showing top 5 rows

* "df_cus" DataFrameâ€™ine dinamik olarak yaÅŸ (age) sÃ¼tunu ekler. AmaÃ§,
 belirli bir yaÅŸ grubundaki mÃ¼ÅŸteri verilerini analiz etmektir.

---

JOIN Ä°ÅžLEMLERÄ° : Ä°ki veya daha fazla tabloyu (veya DataFrame'i) ortak bir sÃ¼tun Ã¼zerinden birleÅŸtirerek iliÅŸkili verileri tek bir tablo gibi analiz etmeyi saÄŸlar.

Temel JOIN tÃ¼rleri:

| JOIN TÃ¼rÃ¼     | AÃ§Ä±klama |
|---------------|----------|
| **INNER JOIN** | EÅŸleÅŸen kayÄ±tlarÄ± getirir |
| **LEFT JOIN**  | Sol tablodaki tÃ¼m kayÄ±tlarÄ±, saÄŸdan eÅŸleÅŸenlerle birlikte getirir |
| **RIGHT JOIN** | SaÄŸ tablodaki tÃ¼m kayÄ±tlarÄ±, soldan eÅŸleÅŸenlerle birlikte getirir |
| **FULL JOIN**  | Her iki tablodaki tÃ¼m kayÄ±tlarÄ± getirir, eÅŸleÅŸmeyenlere NULL yazar |                |
| **LEFT OUTER JOIN** (ya da `LEFT JOIN`)  | Sol tablodaki tÃ¼m kayÄ±tlarÄ± dÃ¶ndÃ¼rÃ¼r; saÄŸda eÅŸleÅŸmeyenler iÃ§in `NULL` koyar. |
| **RIGHT OUTER JOIN** (ya da `RIGHT JOIN`) | SaÄŸ tablodaki tÃ¼m kayÄ±tlarÄ± dÃ¶ndÃ¼rÃ¼r; solda eÅŸleÅŸmeyenler iÃ§in `NULL` koyar. |
| **FULL OUTER JOIN** (ya da `OUTER JOIN`)  | Her iki tablodaki tÃ¼m kayÄ±tlarÄ± dÃ¶ndÃ¼rÃ¼r; eÅŸleÅŸmeyen yerler `NULL` olur.     |
| **CROSS JOIN**     | Ä°ki tablonun tÃ¼m kayÄ±tlarÄ±nÄ± Ã§arpar (kartaizyen Ã§arpÄ±m); filtre olmadan tÃ¼m kombinasyonlar dÃ¶ner. Ã‡ok bÃ¼yÃ¼k sonuÃ§lar Ã¼retebilir. |

In [9]:
spark.sql("""
SELECT *
FROM FactSale as fact
INNER JOIN DimProduct as dim
ON fact.product_id = dim.product_id
""").show()

+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|product_id| product_code|product_type|colour|  size| material|unit_price|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|       1|       241|        551|          2|       1|       32|2023-08-30|       241| GJKT001BLD-S|      Jacket| Black| Small|    Denim|        32|
|       1|       139|        551|          2|       1|       23|2023-08-30|       139|    GS002WR-L|       Shirt| White| Large|    Rayon|        23|
|       1|        36|        551|          2|       1|       20|2023-08-30|        36|  GTS001BC-XL|      Tshirt|  Blue|XLarge|   Cotton|        20|
|       1|       319|        551|          2|       1|       41|2023-08-30|       319| BTRS001WCR-L|    Trousers| White| Large| Corduroy|        41|
|       1|         5|        551|          2|       1|       25|2023-08-30|         5|   BTS001WC-S|      Tshirt| White| Small|   Cotton|        25|
|       2|       163|        286|          1|       2|       80|2023-08-30|       163|    GS003WL-L|       Shirt| White| Large|    Linen|        40|
|       2|       234|        286|          1|       2|       68|2023-08-30|       234|  BJKT001GD-M|      Jacket| Green|Medium|    Denim|        34|
|       2|       311|        286|          1|       1|       35|2023-08-30|       311|  GTRS001OC-L|    Trousers|Orange| Large|   Cotton|        35|
|       3|       148|        889|          2|       3|      150|2023-06-30|       148|  BS003BLL-XL|       Shirt| Black|XLarge|    Linen|        50|
|       3|        88|        889|          2|       1|       10|2023-06-30|        88|  GTS002RC-XL|      Tshirt|   Red|XLarge|   Cotton|        10|
|       4|       336|        138|          2|       1|       41|2023-07-22|       336|BTRS001OCR-XL|    Trousers|Orange|XLarge| Corduroy|        41|
|       4|        79|        138|          2|       1|       10|2023-07-22|        79|   GTS002WC-L|      Tshirt| White| Large|   Cotton|        10|
|       4|       104|        138|          2|       2|       60|2023-07-22|       104|   BS001WC-XL|       Shirt| White|XLarge|   Cotton|        30|
|       4|       101|        138|          2|       1|       30|2023-07-22|       101|    BS001WC-S|       Shirt| White| Small|   Cotton|        30|
|       4|       176|        138|          2|       2|      100|2023-07-22|       176| BJKT001WC-XL|      Jacket| White|XLarge|   Cotton|        50|
|       5|        72|        517|          2|       1|       15|2023-04-17|        72|  BTS002OP-XL|      Tshirt|Orange|XLarge|Polyester|        15|
|       5|       235|        517|          2|       1|       34|2023-04-17|       235|  BJKT001GD-L|      Jacket| Green| Large|    Denim|        34|
|       5|        53|        517|          2|       1|       15|2023-04-17|        53|   BTS002WP-S|      Tshirt| White| Small|Polyester|        15|
|       6|        95|        447|          2|       1|       10|2023-01-05|        95|   GTS002OC-L|      Tshirt|Orange| Large|   Cotton|        10|
|       6|       167|        447|          2|       2|       80|2023-01-05|       167|    GS003NL-L|       Shirt|  Navy| Large|    Linen|        40|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
only showing top 20 rows

---

In [10]:
spark.sql("""
SELECT *
FROM FactSale as fact
LEFT JOIN DimProduct as dim
ON fact.product_id = dim.product_id
""").show()

+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|product_id| product_code|product_type|colour|  size| material|unit_price|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|       1|       241|        551|          2|       1|       32|2023-08-30|       241| GJKT001BLD-S|      Jacket| Black| Small|    Denim|        32|
|       1|       139|        551|          2|       1|       23|2023-08-30|       139|    GS002WR-L|       Shirt| White| Large|    Rayon|        23|
|       1|        36|        551|          2|       1|       20|2023-08-30|        36|  GTS001BC-XL|      Tshirt|  Blue|XLarge|   Cotton|        20|
|       1|       319|        551|          2|       1|       41|2023-08-30|       319| BTRS001WCR-L|    Trousers| White| Large| Corduroy|        41|
|       1|         5|        551|          2|       1|       25|2023-08-30|         5|   BTS001WC-S|      Tshirt| White| Small|   Cotton|        25|
|       2|       163|        286|          1|       2|       80|2023-08-30|       163|    GS003WL-L|       Shirt| White| Large|    Linen|        40|
|       2|       234|        286|          1|       2|       68|2023-08-30|       234|  BJKT001GD-M|      Jacket| Green|Medium|    Denim|        34|
|       2|       311|        286|          1|       1|       35|2023-08-30|       311|  GTRS001OC-L|    Trousers|Orange| Large|   Cotton|        35|
|       3|       148|        889|          2|       3|      150|2023-06-30|       148|  BS003BLL-XL|       Shirt| Black|XLarge|    Linen|        50|
|       3|        88|        889|          2|       1|       10|2023-06-30|        88|  GTS002RC-XL|      Tshirt|   Red|XLarge|   Cotton|        10|
|       4|       336|        138|          2|       1|       41|2023-07-22|       336|BTRS001OCR-XL|    Trousers|Orange|XLarge| Corduroy|        41|
|       4|        79|        138|          2|       1|       10|2023-07-22|        79|   GTS002WC-L|      Tshirt| White| Large|   Cotton|        10|
|       4|       104|        138|          2|       2|       60|2023-07-22|       104|   BS001WC-XL|       Shirt| White|XLarge|   Cotton|        30|
|       4|       101|        138|          2|       1|       30|2023-07-22|       101|    BS001WC-S|       Shirt| White| Small|   Cotton|        30|
|       4|       176|        138|          2|       2|      100|2023-07-22|       176| BJKT001WC-XL|      Jacket| White|XLarge|   Cotton|        50|
|       5|        72|        517|          2|       1|       15|2023-04-17|        72|  BTS002OP-XL|      Tshirt|Orange|XLarge|Polyester|        15|
|       5|       235|        517|          2|       1|       34|2023-04-17|       235|  BJKT001GD-L|      Jacket| Green| Large|    Denim|        34|
|       5|        53|        517|          2|       1|       15|2023-04-17|        53|   BTS002WP-S|      Tshirt| White| Small|Polyester|        15|
|       6|        95|        447|          2|       1|       10|2023-01-05|        95|   GTS002OC-L|      Tshirt|Orange| Large|   Cotton|        10|
|       6|       167|        447|          2|       2|       80|2023-01-05|       167|    GS003NL-L|       Shirt|  Navy| Large|    Linen|        40|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
only showing top 20 rows

---

In [11]:
spark.sql("""
SELECT *
FROM FactSale as fact
RIGHT JOIN DimProduct as dim
ON fact.product_id = dim.product_id
""").show()

+--------+----------+-----------+-----------+--------+---------+----------+----------+------------+------------+------+-----+--------+----------+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|product_id|product_code|product_type|colour| size|material|unit_price|
+--------+----------+-----------+-----------+--------+---------+----------+----------+------------+------------+------+-----+--------+----------+
|    4858|         1|        548|          1|       3|       75|2023-10-20|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    4541|         1|        931|          2|       1|       25|2023-01-26|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    4520|         1|        524|          2|       2|       50|2023-06-17|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    4423|         1|        435|          2|       1|       25|2023-06-05|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    4391|         1|        742|          2|       1|       25|2023-03-31|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    4250|         1|        111|          2|       3|       75|2023-12-29|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    4189|         1|        276|          3|       1|       25|2023-03-22|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    3933|         1|        521|          2|       2|       50|2023-02-26|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    3744|         1|        463|          2|       2|       50|2023-06-17|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    3310|         1|        658|          2|       3|       75|2023-05-06|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    3023|         1|        955|          1|       2|       50|2023-07-12|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    2943|         1|        920|          3|       1|       25|2023-06-23|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    2545|         1|        892|          1|       2|       50|2023-05-28|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    2495|         1|        599|          2|       1|       25|2023-06-18|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    2251|         1|        832|          1|       2|       50|2023-03-30|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    2207|         1|        711|          1|       3|       75|2023-11-30|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    2068|         1|        341|          2|       1|       25|2023-12-28|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    1996|         1|        659|          2|       2|       50|2023-07-23|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    1733|         1|         57|          2|       1|       25|2023-10-10|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
|    1400|         1|        719|          1|       2|       50|2023-09-28|         1| BTS001BLC-S|      Tshirt| Black|Small|  Cotton|        25|
+--------+----------+-----------+-----------+--------+---------+----------+----------+------------+------------+------+-----+--------+----------+
only showing top 20 rows

---

In [12]:
spark.sql("""
SELECT *
FROM FactSale as fact
LEFT OUTER JOIN DimProduct as dim
ON fact.product_id = dim.product_id
""").show()

+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|product_id| product_code|product_type|colour|  size| material|unit_price|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|       1|       241|        551|          2|       1|       32|2023-08-30|       241| GJKT001BLD-S|      Jacket| Black| Small|    Denim|        32|
|       1|       139|        551|          2|       1|       23|2023-08-30|       139|    GS002WR-L|       Shirt| White| Large|    Rayon|        23|
|       1|        36|        551|          2|       1|       20|2023-08-30|        36|  GTS001BC-XL|      Tshirt|  Blue|XLarge|   Cotton|        20|
|       1|       319|        551|          2|       1|       41|2023-08-30|       319| BTRS001WCR-L|    Trousers| White| Large| Corduroy|        41|
|       1|         5|        551|          2|       1|       25|2023-08-30|         5|   BTS001WC-S|      Tshirt| White| Small|   Cotton|        25|
|       2|       163|        286|          1|       2|       80|2023-08-30|       163|    GS003WL-L|       Shirt| White| Large|    Linen|        40|
|       2|       234|        286|          1|       2|       68|2023-08-30|       234|  BJKT001GD-M|      Jacket| Green|Medium|    Denim|        34|
|       2|       311|        286|          1|       1|       35|2023-08-30|       311|  GTRS001OC-L|    Trousers|Orange| Large|   Cotton|        35|
|       3|       148|        889|          2|       3|      150|2023-06-30|       148|  BS003BLL-XL|       Shirt| Black|XLarge|    Linen|        50|
|       3|        88|        889|          2|       1|       10|2023-06-30|        88|  GTS002RC-XL|      Tshirt|   Red|XLarge|   Cotton|        10|
|       4|       336|        138|          2|       1|       41|2023-07-22|       336|BTRS001OCR-XL|    Trousers|Orange|XLarge| Corduroy|        41|
|       4|        79|        138|          2|       1|       10|2023-07-22|        79|   GTS002WC-L|      Tshirt| White| Large|   Cotton|        10|
|       4|       104|        138|          2|       2|       60|2023-07-22|       104|   BS001WC-XL|       Shirt| White|XLarge|   Cotton|        30|
|       4|       101|        138|          2|       1|       30|2023-07-22|       101|    BS001WC-S|       Shirt| White| Small|   Cotton|        30|
|       4|       176|        138|          2|       2|      100|2023-07-22|       176| BJKT001WC-XL|      Jacket| White|XLarge|   Cotton|        50|
|       5|        72|        517|          2|       1|       15|2023-04-17|        72|  BTS002OP-XL|      Tshirt|Orange|XLarge|Polyester|        15|
|       5|       235|        517|          2|       1|       34|2023-04-17|       235|  BJKT001GD-L|      Jacket| Green| Large|    Denim|        34|
|       5|        53|        517|          2|       1|       15|2023-04-17|        53|   BTS002WP-S|      Tshirt| White| Small|Polyester|        15|
|       6|        95|        447|          2|       1|       10|2023-01-05|        95|   GTS002OC-L|      Tshirt|Orange| Large|   Cotton|        10|
|       6|       167|        447|          2|       2|       80|2023-01-05|       167|    GS003NL-L|       Shirt|  Navy| Large|    Linen|        40|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
only showing top 20 rows

---

In [13]:
spark.sql("""
SELECT *
FROM FactSale as fact
CROSS JOIN DimProduct as dim
ON fact.product_id = dim.product_id
""").show()

+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|product_id| product_code|product_type|colour|  size| material|unit_price|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
|       1|       241|        551|          2|       1|       32|2023-08-30|       241| GJKT001BLD-S|      Jacket| Black| Small|    Denim|        32|
|       1|       139|        551|          2|       1|       23|2023-08-30|       139|    GS002WR-L|       Shirt| White| Large|    Rayon|        23|
|       1|        36|        551|          2|       1|       20|2023-08-30|        36|  GTS001BC-XL|      Tshirt|  Blue|XLarge|   Cotton|        20|
|       1|       319|        551|          2|       1|       41|2023-08-30|       319| BTRS001WCR-L|    Trousers| White| Large| Corduroy|        41|
|       1|         5|        551|          2|       1|       25|2023-08-30|         5|   BTS001WC-S|      Tshirt| White| Small|   Cotton|        25|
|       2|       163|        286|          1|       2|       80|2023-08-30|       163|    GS003WL-L|       Shirt| White| Large|    Linen|        40|
|       2|       234|        286|          1|       2|       68|2023-08-30|       234|  BJKT001GD-M|      Jacket| Green|Medium|    Denim|        34|
|       2|       311|        286|          1|       1|       35|2023-08-30|       311|  GTRS001OC-L|    Trousers|Orange| Large|   Cotton|        35|
|       3|       148|        889|          2|       3|      150|2023-06-30|       148|  BS003BLL-XL|       Shirt| Black|XLarge|    Linen|        50|
|       3|        88|        889|          2|       1|       10|2023-06-30|        88|  GTS002RC-XL|      Tshirt|   Red|XLarge|   Cotton|        10|
|       4|       336|        138|          2|       1|       41|2023-07-22|       336|BTRS001OCR-XL|    Trousers|Orange|XLarge| Corduroy|        41|
|       4|        79|        138|          2|       1|       10|2023-07-22|        79|   GTS002WC-L|      Tshirt| White| Large|   Cotton|        10|
|       4|       104|        138|          2|       2|       60|2023-07-22|       104|   BS001WC-XL|       Shirt| White|XLarge|   Cotton|        30|
|       4|       101|        138|          2|       1|       30|2023-07-22|       101|    BS001WC-S|       Shirt| White| Small|   Cotton|        30|
|       4|       176|        138|          2|       2|      100|2023-07-22|       176| BJKT001WC-XL|      Jacket| White|XLarge|   Cotton|        50|
|       5|        72|        517|          2|       1|       15|2023-04-17|        72|  BTS002OP-XL|      Tshirt|Orange|XLarge|Polyester|        15|
|       5|       235|        517|          2|       1|       34|2023-04-17|       235|  BJKT001GD-L|      Jacket| Green| Large|    Denim|        34|
|       5|        53|        517|          2|       1|       15|2023-04-17|        53|   BTS002WP-S|      Tshirt| White| Small|Polyester|        15|
|       6|        95|        447|          2|       1|       10|2023-01-05|        95|   GTS002OC-L|      Tshirt|Orange| Large|   Cotton|        10|
|       6|       167|        447|          2|       2|       80|2023-01-05|       167|    GS003NL-L|       Shirt|  Navy| Large|    Linen|        40|
+--------+----------+-----------+-----------+--------+---------+----------+----------+-------------+------------+------+------+---------+----------+
only showing top 20 rows

---

In [14]:
spark.sql("""
SELECT
    region_name
    ,AVG(YEAR(CURRENT_DATE()) - YEAR(birth_date)) AS age
FROM DimCustomer cus
INNER JOIN DimRegion reg
ON cus.city_id = reg.city_id
GROUP BY region_name
ORDER BY age DESC
""").show()

+-----------------+------------------+
|      region_name|               age|
+-----------------+------------------+
|          Akdeniz| 51.81521739130435|
|     Dogu Anadolu| 51.13095238095238|
|Guneydogu Anadolu| 49.58119658119658|
|          Marmara|49.189542483660134|
|       Ic Anadolu| 49.07772020725388|
|        Karadeniz| 48.75121951219512|
|              Ege|47.888888888888886|
+-----------------+------------------+

---

In [15]:
spark.sql("""
SELECT *,
       ROW_NUMBER() OVER (PARTITION BY product_id ORDER BY total_amt DESC) as rank
FROM FactSale as fact
""").show()

+--------+----------+-----------+-----------+--------+---------+----------+----+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|rank|
+--------+----------+-----------+-----------+--------+---------+----------+----+
|     325|         1|        849|          2|       3|       75|2023-12-16|   1|
|     872|         1|        410|          4|       3|       75|2023-09-08|   2|
|    2207|         1|        711|          1|       3|       75|2023-11-30|   3|
|    3310|         1|        658|          2|       3|       75|2023-05-06|   4|
|    4250|         1|        111|          2|       3|       75|2023-12-29|   5|
|    4858|         1|        548|          1|       3|       75|2023-10-20|   6|
|     615|         1|        298|          1|       2|       50|2023-02-07|   7|
|     704|         1|        535|          4|       2|       50|2023-01-23|   8|
|    1364|         1|        351|          2|       2|       50|2023-01-19|   9|
|    1400|         1|        719|          1|       2|       50|2023-09-28|  10|
|    1996|         1|        659|          2|       2|       50|2023-07-23|  11|
|    2251|         1|        832|          1|       2|       50|2023-03-30|  12|
|    2545|         1|        892|          1|       2|       50|2023-05-28|  13|
|    3023|         1|        955|          1|       2|       50|2023-07-12|  14|
|    3744|         1|        463|          2|       2|       50|2023-06-17|  15|
|    3933|         1|        521|          2|       2|       50|2023-02-26|  16|
|    4520|         1|        524|          2|       2|       50|2023-06-17|  17|
|     157|         1|        923|          2|       1|       25|2023-06-22|  18|
|     198|         1|        368|          2|       1|       25|2023-07-29|  19|
|     476|         1|        545|          1|       1|       25|2023-11-28|  20|
+--------+----------+-----------+-----------+--------+---------+----------+----+
only showing top 20 rows

* AmaÃ§, her Ã¼rÃ¼n iÃ§in en yÃ¼ksek tutarlÄ± satÄ±ÅŸlarÄ± sÄ±ralamak ve takip etmektir.

---

In [16]:
(
    df_sal.groupBy("order_id").agg(
        F.sum("quantity").alias("total_quantity"),
        F.sum("total_amt").alias("total_amount")
    ).orderBy("total_quantity", ascending=False)
    .show(10)
)

+--------+--------------+------------+
|order_id|total_quantity|total_amount|
+--------+--------------+------------+
|    3647|            13|         521|
|    2574|            13|         488|
|    3515|            13|         402|
|     101|            12|         359|
|     440|            12|         426|
|    3763|            12|         323|
|    1585|            12|         488|
|    3289|            12|         327|
|    2337|            11|         357|
|    3743|            11|         359|
+--------+--------------+------------+
only showing top 10 rows

* AmaÃ§, en bÃ¼yÃ¼k hacimli sipariÅŸleri belirleyerek satÄ±ÅŸ performansÄ±nÄ± analiz etmektir

---

In [17]:
(
    df_cus
    .join(df_reg, df_cus.city_id == df_reg.city_id)
    .groupBy("region_name").agg(
        F.avg(F.year(F.current_date()) - F.year("birth_date")).alias("age")
    )
    .orderBy("age", ascending=False)
    .show()
)

+-----------------+------------------+
|      region_name|               age|
+-----------------+------------------+
|          Akdeniz| 51.81521739130435|
|     Dogu Anadolu| 51.13095238095238|
|Guneydogu Anadolu| 49.58119658119658|
|          Marmara|49.189542483660134|
|       Ic Anadolu| 49.07772020725388|
|        Karadeniz| 48.75121951219512|
|              Ege|47.888888888888886|
+-----------------+------------------+

* AmaÃ§, bÃ¶lgelerdeki mÃ¼ÅŸteri kitlesinin yaÅŸ daÄŸÄ±lÄ±mÄ±nÄ± analiz etmektir.

---

## BaÅŸka Hangi Sorgular YazÄ±labilir?

In [18]:
df_sal.join(df_pro, "product_id") \
    .groupBy("product_type") \
    .agg(F.sum("total_amt").alias("total_revenue")) \
    .orderBy("total_revenue", ascending=False) \
    .show()

+------------+-------------+
|product_type|total_revenue|
+------------+-------------+
|      Jacket|       237113|
|    Trousers|       228603|
|       Shirt|       139614|
|      Tshirt|       103765|
+------------+-------------+

* AmaÃ§: Hangi Ã¼rÃ¼n tÃ¼rÃ¼ (Jacket, Tshirt, vb.) daha fazla ciro getirmiÅŸ?

---

In [19]:
df_sal.withColumn("month", F.month("date")) \
    .groupBy("month") \
    .agg(F.sum("total_amt").alias("monthly_revenue")) \
    .orderBy("month") \
    .show()

+-----+---------------+
|month|monthly_revenue|
+-----+---------------+
|    1|          62906|
|    2|          53313|
|    3|          62365|
|    4|          65533|
|    5|          61612|
|    6|          53981|
|    7|          62887|
|    8|          54599|
|    9|          57765|
|   10|          60040|
|   11|          58401|
|   12|          55693|
+-----+---------------+

* AmaÃ§: SatÄ±ÅŸlar yÄ±l iÃ§inde hangi aylarda daha yÃ¼ksek?

---

In [20]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag, datediff

window_spec = Window.partitionBy("customer_id").orderBy("date")

df_sal.withColumn("prev_date", lag("date").over(window_spec)) \
    .withColumn("days_between_orders", datediff("date", "prev_date")) \
    .select("customer_id", "order_id", "date", "days_between_orders") \
    .show()

+-----------+--------+----------+-------------------+
|customer_id|order_id|      date|days_between_orders|
+-----------+--------+----------+-------------------+
|          1|    3161|2023-03-19|               NULL|
|          1|    3161|2023-03-19|                  0|
|          1|    3161|2023-03-19|                  0|
|          1|    3161|2023-03-19|                  0|
|          1|    3161|2023-03-19|                  0|
|          1|    4146|2023-06-28|                101|
|          1|    4146|2023-06-28|                  0|
|          1|    4146|2023-06-28|                  0|
|          1|    4146|2023-06-28|                  0|
|          1|    2756|2023-07-23|                 25|
|          1|    2756|2023-07-23|                  0|
|          1|    2756|2023-07-23|                  0|
|          1|    3796|2023-08-11|                 19|
|          1|    3796|2023-08-11|                  0|
|          1|    3796|2023-08-11|                  0|
|          1|    3796|2023-08-11|                  0|
|          1|    1228|2023-11-18|                 99|
|          1|    1228|2023-11-18|                  0|
|          1|    1228|2023-11-18|                  0|
|          1|    1228|2023-11-18|                  0|
+-----------+--------+----------+-------------------+
only showing top 20 rows

* AmaÃ§: MÃ¼ÅŸteriler ne sÄ±klÄ±kla alÄ±ÅŸveriÅŸ yapÄ±yor?

---

In [21]:
spark.sql("""
SELECT
    r.region_name,
    COUNT(DISTINCT fs.order_id) AS total_orders
FROM FactSale fs
JOIN DimCustomer c ON fs.customer_id = c.customer_id
JOIN DimRegion r ON c.city_id = r.city_id
GROUP BY r.region_name
ORDER BY total_orders DESC
LIMIT 5
""").show()

+-----------------+------------+
|      region_name|total_orders|
+-----------------+------------+
|        Karadeniz|        1029|
|       Ic Anadolu|         956|
|     Dogu Anadolu|         859|
|          Marmara|         760|
|Guneydogu Anadolu|         569|
+-----------------+------------+

* AmaÃ§: Hangi bÃ¶lgelerde en fazla sipariÅŸ verildiÄŸini analiz ederek, satÄ±ÅŸ yoÄŸunluÄŸu olan bÃ¶lgeleri belirlemek.

---

In [22]:
spark.sql("""
SELECT
    s.sup_name,
    ROUND(SUM(fp.total_cost) / SUM(fp.pur_quan), 2) AS avg_unit_cost
FROM FactPurchase fp
JOIN DimSupplier s ON fp.supplier_id = s.supplier_id
GROUP BY s.sup_name
ORDER BY avg_unit_cost DESC
""").show()

+------------+-------------+
|    sup_name|avg_unit_cost|
+------------+-------------+
|Side Tekstil|        31.66|
| Ege Ruzgari|         30.9|
|  Moda Kumas|        14.05|
|Kumas Sanati|         6.66|
+------------+-------------+

* AmaÃ§: Hangi tedarikÃ§iden alÄ±nan Ã¼rÃ¼nlerin birim maliyetinin daha yÃ¼ksek veya dÃ¼ÅŸÃ¼k olduÄŸunu analiz etmek.

---

In [23]:
spark.sql("""SELECT COUNT(*) AS customer_count
FROM (
    SELECT customer_id, product_id, COUNT(*) AS times
    FROM FactSale
    GROUP BY customer_id, product_id
    HAVING COUNT(*) > 1
) AS sub""").show()

+--------------+
|customer_count|
+--------------+
|           357|
+--------------+

* AmaÃ§: ÃœrÃ¼nlere olan sadakati Ã¶lÃ§mek ve tekrar eden alÄ±ÅŸveriÅŸ yapan mÃ¼ÅŸteri sayÄ±sÄ±nÄ± analiz etmek.

---

In [24]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

top_product_df = df_sal \
    .join(df_cus, "customer_id") \
    .join(df_reg, df_cus.city_id == df_reg.city_id) \
    .join(df_pro, "product_id") \
    .groupBy("region_name", "product_type") \
    .agg(F.sum("quantity").alias("total_quantity"))

window_spec = Window.partitionBy("region_name").orderBy(F.desc("total_quantity"))

top_product_df \
    .withColumn("rank", row_number().over(window_spec)) \
    .filter("rank == 1") \
    .select("region_name", "product_type", "total_quantity") \
    .show()

+-----------------+------------+--------------+
|      region_name|product_type|total_quantity|
+-----------------+------------+--------------+
|          Akdeniz|    Trousers|           577|
|     Dogu Anadolu|      Jacket|          1068|
|              Ege|      Tshirt|           458|
|Guneydogu Anadolu|      Jacket|           723|
|       Ic Anadolu|      Tshirt|          1184|
|        Karadeniz|    Trousers|          1188|
|          Marmara|      Tshirt|           970|
+-----------------+------------+--------------+

* AmaÃ§: Her bÃ¶lgedeki mÃ¼ÅŸteri tercihlerine gÃ¶re hangi Ã¼rÃ¼n tipinin daha Ã§ok satÄ±ldÄ±ÄŸÄ±nÄ± belirlemek.

---

## Assessment 1 â€“ Ceket SatÄ±ÅŸlarÄ±nÄ±n BÃ¶lgesel DaÄŸÄ±lÄ±mÄ±

### Hedef:
2023 Haziran-AÄŸustos aylarÄ± arasÄ±nda ceket satÄ±ÅŸlarÄ±nÄ±n toplam miktar ve ciro bazÄ±nda **bÃ¶lgelere gÃ¶re daÄŸÄ±lÄ±mÄ±nÄ±** elde etmek.

### Uygulanan Filtreler:
- `product_type = 'Jacket'`
- `date` âˆˆ [2023-06-01, 2023-08-31]

### Elde Edilen SÃ¼tunlar:
- `region_name`
- `product_type`
- `total_quantity`
- `total_amount`

Not : Ã–ncesinde tÃ¼m tablolardaki sÃ¼tunlarÄ± rahatÃ§a gÃ¶rebilmek ve hangi sÃ¼tunlarÄ±n kullanacaÄŸÄ±na karar verebilmek amacÄ±yla tablolar Ã¼zerinde incelemeler yapÄ±ldÄ±.

In [25]:
spark.sql("""
SELECT
    *
FROM DimRegion
""").show(5)

+-------+--------------+-----------------+
|city_id|     city_name|      region_name|
+-------+--------------+-----------------+
|      1|         Adana|       Ic Anadolu|
|      2|      Adiyaman|Guneydogu Anadolu|
|      3|Afyonkarahisar|       Ic Anadolu|
|      4|          Agri|     Dogu Anadolu|
|      5|        Amasya|        Karadeniz|
+-------+--------------+-----------------+
only showing top 5 rows

---

In [26]:
spark.sql("""
SELECT
    *
FROM DimProduct
""").show(5)

+----------+------------+------------+------+------+--------+----------+
|product_id|product_code|product_type|colour|  size|material|unit_price|
+----------+------------+------------+------+------+--------+----------+
|         1| BTS001BLC-S|      Tshirt| Black| Small|  Cotton|        25|
|         2| BTS001BLC-M|      Tshirt| Black|Medium|  Cotton|        25|
|         3| BTS001BLC-L|      Tshirt| Black| Large|  Cotton|        25|
|         4|BTS001BLC-XL|      Tshirt| Black|XLarge|  Cotton|        25|
|         5|  BTS001WC-S|      Tshirt| White| Small|  Cotton|        25|
+----------+------------+------------+------+------+--------+----------+
only showing top 5 rows

---

In [27]:
spark.sql("""
SELECT
    *
FROM FactSale
""").show(5)

+--------+----------+-----------+-----------+--------+---------+----------+
|order_id|product_id|customer_id|retailer_id|quantity|total_amt|      date|
+--------+----------+-----------+-----------+--------+---------+----------+
|       1|       241|        551|          2|       1|       32|2023-08-30|
|       1|       139|        551|          2|       1|       23|2023-08-30|
|       1|        36|        551|          2|       1|       20|2023-08-30|
|       1|       319|        551|          2|       1|       41|2023-08-30|
|       1|         5|        551|          2|       1|       25|2023-08-30|
+--------+----------+-----------+-----------+--------+---------+----------+
only showing top 5 rows

---

In [28]:
spark.sql("""
SELECT
    *
FROM DimCustomer
""").show(5)

+-----------+-------+-------+--------+------+----------+-------------+--------------------+
|customer_id|city_id|   name| surname|gender|birth_date|        phone|               email|
+-----------+-------+-------+--------+------+----------+-------------+--------------------+
|          1|     30| Jazmin|  Burril|Female|1958-09-22|(493) 8889636|jburril0@soundclo...|
|          2|     25| Dalila|   Faers|Female|2000-11-08|(404) 6357120|dfaers1@sitemeter...|
|          3|     15|Wayland|Walework|  Male|1976-03-08|(277) 1691679|wwalework2@quantc...|
|          4|     42|Amberly|  Haquin|Female|1948-10-08|(460) 2147509|ahaquin3@telegrap...|
|          5|     41|Garrett|   Frear|  Male|1957-09-25|(858) 3767105|     gfrear4@tiny.cc|
+-----------+-------+-------+--------+------+----------+-------------+--------------------+
only showing top 5 rows

---

In [29]:
spark.sql("""
SELECT
    *
FROM FactPurchase
""").show(5)

+-----------+-----------+----------+--------+---------+----------+----------+
|purchase_id|supplier_id|product_id|pur_quan|pur_price|total_cost|      date|
+-----------+-----------+----------+--------+---------+----------+----------+
|          1|          2|         1|    1000|       10|     10000|2023-01-01|
|          2|          2|         2|    1500|       10|     10000|2023-01-01|
|          3|          2|         3|     500|       10|      5000|2023-01-01|
|          4|          2|         4|    1000|       10|      5000|2023-01-01|
|          5|          2|         5|    1000|       10|     15000|2023-01-01|
+-----------+-----------+----------+--------+---------+----------+----------+
only showing top 5 rows

---

In [30]:
spark.sql("""
SELECT
    *
FROM DimRetailer
""").show()

+-----------+-------+-------------+-------------+
|retailer_id|city_id|retailer_type|retailer_name|
+-----------+-------+-------------+-------------+
|          1|     34|     Internet|            A|
|          2|     34|     Internet|            B|
|          3|     34|     Internet|            C|
|          4|     35|     Internet|            D|
+-----------+-------+-------------+-------------+

---

In [31]:
spark.sql("""
SELECT
    *
FROM DimSupplier
""").show()

+-----------+-------+------------+--------+
|supplier_id|city_id|    sup_name|sup_type|
+-----------+-------+------------+--------+
|          1|      6|  Moda Kumas|   Shirt|
|          2|     34|Kumas Sanati|  Tshirt|
|          3|      7|Side Tekstil|Trousers|
|          4|     35| Ege Ruzgari|  Jacket|
+-----------+-------+------------+--------+

---

In [32]:
spark.sql("""
SELECT
    *
FROM DimDate
""").show(5)

+----------+---------+----+-----+-------+----+
|      date|      day|week|month|quarter|year|
+----------+---------+----+-----+-------+----+
|2023-01-01|   Sunday|   1|    1|     Q1|2023|
|2023-01-02|   Monday|   1|    1|     Q1|2023|
|2023-01-03|  Tuesday|   1|    1|     Q1|2023|
|2023-01-04|Wednesday|   1|    1|     Q1|2023|
|2023-01-05| Thursday|   1|    1|     Q1|2023|
+----------+---------+----+-----+-------+----+
only showing top 5 rows

---

## Spark SQL ile Ã‡Ã¶zÃ¼m:

### Not : Ä°stenen Ã§Ä±ktÄ±ya tamamen uydurmak iÃ§in Case yapÄ±sÄ± kullanÄ±ldÄ±. Case yapÄ±sÄ± kullanmadan elde edilen Ã§Ä±ktÄ±:

In [33]:
spark.sql("""
SELECT
    r.region_name,
    'Jacket' AS product_type,
    SUM(fs.quantity) AS total_quantity,
    SUM(fs.total_amt) AS total_amount
FROM FactSale fs
JOIN DimProduct p ON fs.product_id = p.product_id
JOIN DimCustomer c ON fs.customer_id = c.customer_id
JOIN DimRegion r ON c.city_id = r.city_id
WHERE p.product_type = 'Jacket'
  AND CAST(fs.date AS DATE) BETWEEN DATE('2023-06-01') AND DATE('2023-08-31')
GROUP BY r.region_name
ORDER BY total_quantity DESC, region_name ASC
""").show()

+-----------------+------------+--------------+------------+
|      region_name|product_type|total_quantity|total_amount|
+-----------------+------------+--------------+------------+
|        Karadeniz|      Jacket|           310|       12582|
|     Dogu Anadolu|      Jacket|           284|       11547|
|       Ic Anadolu|      Jacket|           260|       10496|
|          Marmara|      Jacket|           213|        8358|
|Guneydogu Anadolu|      Jacket|           176|        6981|
|          Akdeniz|      Jacket|           162|        6637|
|              Ege|      Jacket|           101|        3953|
+-----------------+------------+--------------+------------+

---

### Case yapÄ±sÄ± kullanÄ±larak elde edilen Ã§Ä±ktÄ±:

In [34]:
spark.sql("""
SELECT
    r.region_name,
    'Jacket' AS product_type,
    SUM(fs.quantity) AS total_quantity,
    SUM(fs.total_amt) AS total_amount
FROM FactSale fs
JOIN DimProduct p ON fs.product_id = p.product_id
JOIN DimCustomer c ON fs.customer_id = c.customer_id
JOIN DimRegion r ON c.city_id = r.city_id
WHERE p.product_type = 'Jacket'
  AND CAST(fs.date AS DATE) BETWEEN DATE('2023-06-01') AND DATE('2023-08-31')
GROUP BY r.region_name
ORDER BY CASE r.region_name
    WHEN 'Marmara' THEN 1
    WHEN 'Dogu Anadolu' THEN 2
    WHEN 'Guneydogu Anadolu' THEN 3
    WHEN 'Ic Anadolu' THEN 4
    WHEN 'Akdeniz' THEN 5
    WHEN 'Karadeniz' THEN 6
    WHEN 'Ege' THEN 7
    ELSE 8
END
""").show()

+-----------------+------------+--------------+------------+
|      region_name|product_type|total_quantity|total_amount|
+-----------------+------------+--------------+------------+
|          Marmara|      Jacket|           213|        8358|
|     Dogu Anadolu|      Jacket|           284|       11547|
|Guneydogu Anadolu|      Jacket|           176|        6981|
|       Ic Anadolu|      Jacket|           260|       10496|
|          Akdeniz|      Jacket|           162|        6637|
|        Karadeniz|      Jacket|           310|       12582|
|              Ege|      Jacket|           101|        3953|
+-----------------+------------+--------------+------------+

---

## PySpark API ile Ã‡Ã¶zÃ¼m :

### Spark tablosuna dÃ¶nÃ¼ÅŸtÃ¼rme iÅŸlemi :

In [35]:
FactSale = spark.table("FactSale")
DimProduct = spark.table("DimProduct")
DimCustomer = spark.table("DimCustomer")
DimRegion = spark.table("DimRegion")

---

### DataFrame oluÅŸturma:

In [36]:
from pyspark.sql.functions import col, sum as _sum, lit, to_date, when

result_df = FactSale \
    .join(DimProduct, "product_id") \
    .join(DimCustomer, "customer_id") \
    .join(DimRegion, DimCustomer["city_id"] == DimRegion["city_id"]) \
    .filter(
        (col("product_type") == "Jacket") &
        (to_date("date") >= lit("2023-06-01")) &
        (to_date("date") <= lit("2023-08-31"))
    ) \
    .groupBy("region_name") \
    .agg(
        lit("Jacket").alias("product_type"),
        _sum("quantity").alias("total_quantity"),
        _sum("total_amt").alias("total_amount")
    )

---

### SÄ±ralama:

In [37]:
ordered_df = result_df.withColumn(
    "sort_order",
    when(col("region_name") == "Marmara", 1)
    .when(col("region_name") == "Dogu Anadolu", 2)
    .when(col("region_name") == "Guneydogu Anadolu", 3)
    .when(col("region_name") == "Ic Anadolu", 4)
    .when(col("region_name") == "Akdeniz", 5)
    .when(col("region_name") == "Karadeniz", 6)
    .when(col("region_name") == "Ege", 7)
    .otherwise(8)
)

---

In [38]:
ordered_df.orderBy("sort_order").select(
    "region_name", "product_type", "total_quantity", "total_amount"
).show()

+-----------------+------------+--------------+------------+
|      region_name|product_type|total_quantity|total_amount|
+-----------------+------------+--------------+------------+
|          Marmara|      Jacket|           213|        8358|
|     Dogu Anadolu|      Jacket|           284|       11547|
|Guneydogu Anadolu|      Jacket|           176|        6981|
|       Ic Anadolu|      Jacket|           260|       10496|
|          Akdeniz|      Jacket|           162|        6637|
|        Karadeniz|      Jacket|           310|       12582|
|              Ege|      Jacket|           101|        3953|
+-----------------+------------+--------------+------------+

---

## Assessment 2 â€“ Perakendecilerin BÃ¶lgesel Ciro Analizi

### Hedef:
Her perakendecinin ceket satÄ±ÅŸlarÄ±yla en fazla ciro yaptÄ±ÄŸÄ± **bÃ¶lgeyi belirlemek**.

### AdÄ±mlar:
1. SatÄ±ÅŸlar, mÃ¼ÅŸteri lokasyonuna gÃ¶re bÃ¶lgelere baÄŸlandÄ± (customer â†’ city â†’ region)
2. Her `retailer_id` iÃ§in `region_name` bazÄ±nda toplam `total_amt` hesaplandÄ±.
3. `ROW_NUMBER() OVER (...)` window function ile en yÃ¼ksek ciro yapÄ±lan bÃ¶lge tespit edildi.

## Spark SQL ile Ã‡Ã¶zÃ¼m:

In [39]:
spark.sql("""
SELECT
    retailer_id,
    retailer_name,
    region_name,
    total_amount
FROM (
    SELECT
        fs.retailer_id,
        dr.retailer_name,
        r.region_name,
        SUM(fs.total_amt) AS total_amount,
        ROW_NUMBER() OVER (
            PARTITION BY fs.retailer_id
            ORDER BY SUM(fs.total_amt) DESC
        ) AS rank
    FROM FactSale fs
    JOIN DimRetailer dr ON fs.retailer_id = dr.retailer_id
    JOIN DimCustomer c ON fs.customer_id = c.customer_id
    JOIN DimRegion r ON c.city_id = r.city_id
    GROUP BY fs.retailer_id, dr.retailer_name, r.region_name
) temp
WHERE rank = 1
ORDER BY retailer_id
""").show()

+-----------+-------------+-----------+------------+
|retailer_id|retailer_name|region_name|total_amount|
+-----------+-------------+-----------+------------+
|          1|            A|  Karadeniz|       42642|
|          2|            B| Ic Anadolu|       71689|
|          3|            C| Ic Anadolu|       11995|
|          4|            D|  Karadeniz|       16081|
+-----------+-------------+-----------+------------+

---

## PySpark API ile Ã‡Ã¶zÃ¼m:

In [40]:
FactSale = spark.table("FactSale")
DimCustomer = spark.table("DimCustomer")
DimRetailer = spark.table("DimRetailer")
DimRegion = spark.table("DimRegion")

---

In [41]:
from pyspark.sql.functions import sum as _sum

result_df = FactSale \
    .join(DimRetailer, "retailer_id") \
    .join(DimCustomer, "customer_id") \
    .join(DimRegion, DimCustomer["city_id"] == DimRegion["city_id"]) \
    .groupBy("retailer_id", "retailer_name", "region_name") \
    .agg(_sum("total_amt").alias("total_amount"))

---

In [42]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

# Pencere tanÄ±mÄ±: her retailer iÃ§in bÃ¼yÃ¼kten kÃ¼Ã§Ã¼ÄŸe ciroya gÃ¶re
window_spec = Window.partitionBy("retailer_id").orderBy(result_df["total_amount"].desc())

top_region_df = result_df \
    .withColumn("rank", row_number().over(window_spec)) \
    .filter(col("rank") == 1) \
    .select("retailer_id", "retailer_name", "region_name", "total_amount")

---

In [43]:
top_region_df.select("retailer_id", "retailer_name", "region_name", "total_amount").show()

+-----------+-------------+-----------+------------+
|retailer_id|retailer_name|region_name|total_amount|
+-----------+-------------+-----------+------------+
|          1|            A|  Karadeniz|       42642|
|          2|            B| Ic Anadolu|       71689|
|          3|            C| Ic Anadolu|       11995|
|          4|            D|  Karadeniz|       16081|
+-----------+-------------+-----------+------------+

---

# Proje Linki : https://github.com/edanurarslan/Pyspark-Sales-Analysis

# HazÄ±rlayan: Eda Nur ARSLAN